<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contaAdmin/style.css') }}">

    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/contaAdmin/script.js') }}"></script>

<body>

    <main>
        <div id="left-side">
            <div id="user">
                <div class="contorno">
                    <span class=" iconify" data-icon="mdi:account" data-width="45" data-height="45"></span>
                </div>
                <span>Olá, {{ conta['p_nome'] }}</span>
            </div>
    
            <div id="menu">
                <div>
                    <img src="" alt="" srcset="">   
                    <span>Transações</span>
                </div>
    
                <div id="cartao-credito">
                    <img src="" alt="" srcset="">
                    <span>Cartão de Crédito</span>
                </div>
                <div id="faturas">
                    <img src="" alt="" srcset="">
                    <span>Minhas Faturas</span>
                </div>
            </div>
        </div>

        <div id="right-side">
            
            <div class="row">
                
            </div>

            <div class="row">
                <div class="card">
                    <div class="contorno">
                        
                    </div>
                    <div class="info-card">
                        <p>Receita</p>
                        <span>R$ 8000.00</span>
                    </div>
                </div>

                <div class="card">
                    <div class="contorno">
                        
                    </div>
                    <div class="info-card">
                        <p>Saldo Corrente</p>
                        <span>R$ 8000.00</span>
                    </div>
                </div>

                <div class="card">
                    <div class="contorno">
                        
                    </div>
                    <div class="info-card">
                        <p>Anuidade</p>
                        <span>R$ 8000.00</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="l-side">
                    <div>
                        <h2>Clientes</h2>
                    </div>

                    <div>
                        <table id="tabela-clientes">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Nº da Conta</th>
                                    <th>CPF</th>
                                </tr>
                            </thead>
    
                            <tbody>
                                <tbody>
                                    <tr>
                                        <td>Vinicius Oliveira Souza</td>
                                        <td>103</td>
                                        <td>1366</td>
                                    </tr>
                                    <tr>
                                        <td>Vinicius Oliveira Souza</td>
                                        <td>103</td>
                                        <td>1366</td>
                                    </tr>
                                    <tr>
                                        <td>Vinicius Oliveira Souza</td>
                                        <td>103</td>
                                        <td>1366</td>
                                    </tr>
                                    
                                </tbody>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="r-side">
                    <a href="/deslogar/True"><button>Deslogar</button></a>
                    <a href="/"><button>Index</button></a>
                </div>

            </div>
        </div>
    </main>
</body>
</html>