<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">

    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <title>Document</title>
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index/script.jsx') }}"></script>

<body>
    <header>
        <h1>Digital Bank</h1>
    </header>

    <main>
        <div id="bank">
            <div class="saldo_banco">
                <p>Saldo Banco</p>
                <p id="Saldo">R$: ${bank.saldo_banco.toFixed(2)}</p>
            </div>
            <div class="saldo_corrente">
                <p>Saldo Corrente</p>
                <p id="Saldo-Corrente">R$: ${bank.saldo_corrente.toFixed(2)}</p>
            </div>
            <div class="additional-content">
                <p class="date">Maio de 2023</p>
                <button id="PassarMes">Passar Mês =></button>
            </div>
        </div>
        <div id="users-list">
            {% for user in users %}
            <div class="user">
                <p>{{ user.nome }}</p>
                <p>{{ user.conta }}</p>
            </div>
            {% endfor %}
            <div id="add-new-user">
                <p>Adicionar</p>
            </div>
        </div>
    </main>
    <div id="overloads"></div>

</body>

</html>