<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">

    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <title>Document</title>
</head>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/index/script.js') }}"></script>

<body>
    <header>
        <p>Py Bank</p>
    </header>

    <main>
        <section>
            <div id="users">
                <div id="cards-users">

                    <div class="card-user invisivel" id="user-get">
                        <div class="pt-superior-card">
                            <div class="user-icon">
                                <span class=" iconify" data-icon="mdi:account" data-width="45" data-height="45"></span>
                            </div>
                        </div>
                        <div class="pt-inferior-card">
                            <div class="id-user">
                                <span>Nº Conta: </span>
                                <span id="get-id"></span>
                            </div>
                            <div class="nome-user">
                                <span>Nome: </span>
                                <span id="get-nome"></span>
                            </div>
                            <div class="rend-user">
                                <span>Nº Conta: </span>
                                <span id="get-renda"></span>
                            </div>
                            <div class="saldo-user">
                                <span>Nº Conta: </span>
                                <span id="get-saldo"></span>
                            </div>
                            
                        </div>
                    </div> 

                    {% for conta in contas %}
    
                    <div class="card-user">
                        <div class="pt-superior-card">
                            <div class="user-icon">
                                <span class=" iconify" data-icon="mdi:account" data-width="45" data-height="45"></span>
                            </div>
                        </div>
                        <div class="pt-inferior-card">
                            <div class="nome-user">
                                <span>Nome: </span>
                                <span class="nome-card">{{ conta['nome'] }}</span>
                            </div>
                            <div class="id-user">
                                <span>Nº Conta: </span>
                                <span class="id-card">{{ conta['id'] }}</span>
                            </div>
                        </div>
                    </div>     
                    
                    {% endfor %}
    
                    
                </div>

                <div id="paginacao-contas">
    
                    {% for pag in range(0, num_pags) %}
    
                        <div class="pag-conta">
                            <a href="/?pagina={{ pag + 1 }}">{{ pag + 1 }}</a>
                        </div>
    
                    {% endfor %}
    
                </div>
            </div>
        </section>
            <form action="/?pagina={{ pag_atual }}" method="post">
                <input type="hidden" name="arg-base" id="arg-base">

                <input type="hidden" name="nome" id="nome">
                <input type="hidden" name="renda"  id="renda">

                <input type="hidden" name="idConta1" id="idConta1">
                <input type="hidden" name="idConta2" id="idConta2">

                <input type="hidden" name="valor" id="valor">

                <div id="botoes">
                    <div class="card-botao">
                        <button class="btn" onclick="alt_arg_base('get')">0000000000</button>
                        <span>Buscar Conta</span>
                    </div>
                    <div class="card-botao">
                        <button class="btn" onclick="alt_arg_base()">0000000000</button>
                        <span>Serviço</span>
                    </div>
                    <div class="card-botao">
                        <button class="btn" onclick="alt_arg_base()">0000000000</button>
                        <span>Serviço</span>
                    </div>
                    <div class="card-botao">
                        <button class="btn" onclick="alt_arg_base()">0000000000</button>
                        <span>Serviço</span>
                    </div>
                    <div class="card-botao">
                        <button class="btn" onclick="alt_arg_base()">0000000000</button>
                        <span>Serviço</span>
                    </div>
                </div>

            </form>
        <section>

        </section>
    </main>
</body>
</html>
